package pages

templ About(title string) {
	// Futuristic about page dash:
	<section class="about">
		<h1>{ title }</h1>
		<p class={"p", "color-primary text-center bg-dark"}>
			about that...
		</p>
	</section>
}
